*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 200px; 
    padding-right: 200px;
    background: white;
    color: black;
    font-size: 20px;
}

.logo{
    font-size: 30px;
}

strong{
    color: #fc7404;
}
a {
    text-decoration: none;
    color: black;
}
    
ul {
    list-style-type: none;
}
    
.links{
    gap: 25px;
    display: flex;
}
    
.left-items, .right-items {
    display: flex;
    align-items: center;
    gap: 12px;
} 
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.section1{
    background: url(/images/opção10.jpeg);
    background-size: cover;
    padding-left: 120px;
    padding-bottom: 110px;
}

.title{
    padding-top: 150px;
    padding-bottom: 10px;
    font-size: 80px;
    color: white;
}

.text{
    padding-bottom: 30px;
    font-size: 20px;
    color: white;
}

.button_section1{
    border: none;
    background:none;
    color: #fc7404;
    font-weight: bold;
    font-size: 15px;
    text-decoration:underline;
    text-underline-position: under;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.section2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    
}

.figure{
    position:absolute;
    z-index: 0;
}

.figure2{
    padding-left: 700px;
    padding-top: 598px;
    position:absolute;
    z-index: -1;
}

.rectangle1{
    width: 730px;
    height: 200px;
    background:#f8c40c;
}

.rectangle2{
    width: 730px;
    height: 200px;
    background:#f8570c;
}

.left-items2{
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-bottom: 200px;
    z-index: 1;
}

.title2{
    padding: 20px;
    font-size: 70px;
    padding-bottom: 20px;
    font-weight: bold;
}

.text2{
    padding: 20px;
    font-size: 25px;
}

.image1{
    height: 450px;
    width: 500px;
}

.image2{
    padding-top: 310px;
    padding-right: 110px;
    max-width: 300px;  
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.section3{
    background: url(/images/opção6.webp);
    background-size: cover;
    height: 450px;
    width: 1230px;
    padding-left: 120px;
    padding-bottom: 300px;
}

.title3{
    padding-top: 90px;
    padding-bottom: 10px;
    font-size: 60px;
    color: #fc7404;
    text-align: center;
}

.text3{
    text-align: center;
    color: white;
    padding-top: 15px;
    font-style: italic;
    font-size: 16px;
}

.group_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 300px));    
    padding-top: 35px;
    gap: 35px; 
}

.card1{
    display: grid; 
    gap: 10px;
    background: white;
    padding: 30px;
}

.card2{
    display: grid; 
    gap: 10px;
    background: rgba(0, 0, 0, 0.815);
    padding: 30px;
    color: white;
}

.card3{
    display: grid; 
    gap: 10px;
    background: #fc7404;
    padding: 30px;
    color: white;
}

.h1{
    padding-top: 20px;
    font-size: 80px;
}

.h2{
    padding-top: 20px;
    font-size: 80px;
    color: #fc7404;
}

.h3{
    padding-top: 20px;
    font-size: 80px;
    color: white;
}

.title_card{
    font-size: 40px;
    padding-bottom: 15px;
}

.text_card{
    font-size: 18px;
    padding-bottom: 25px;
}

.button_card{
    padding-bottom: 30px;
}

.button_card1{
    border: none;
    background:none;
    color: #fc7404;
    font-weight: bold;
    font-size: 15px;
    text-decoration:underline;
    text-underline-position: under;
}

.button_card3{
    border: none;
    background:none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration:underline;
    text-underline-position: under;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.section4{
    display: flex;
    justify-content: space-between;
    
}

.tittle_left4{
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 400px;
}

.tittle_rigth4{
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-right: 345px;   
}

.left-items4{
    text-align: center;
    background: white;
    padding-top: 160px;
    padding-bottom: 280px;
}

.rigth-items4{
    text-align: center;
    background: #f8c40c;
    padding-top: 160px;
    padding-bottom: 280px;
}

.text4{
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 30px; 
}

.text5{
    padding-top: 20px;
    padding-right: 300px;
    padding-left: 30px; 
}



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    color: black;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/